:root {
  --primary-color: #121212;
  --secondary-color: #222831;
  --tertiary-color: #008cff;
  --quaternary-color: #ffffff;
}

:root {
  --large-font-size: 4rem;
  --medium-font-size: 3.2rem;
  --small-font-size: 2rem;
}
